body {
  position: relative;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--text-color);
}

.news-content {
  display: flex;

  .left-wrap {
    width: 300px;
    // remove this
    border: 1px solid var(--dummy-border-color);
  }
  .right-wrap {
    flex: 1;
    padding: 0 0 0 20px;
    // remove this
    border: 1px solid var(--dummy-border-color);
  }
}
