body {
  position: relative;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1.6rem;
  min-height: 100vh;
  color: var(--text-color);
}

.news-content {
  display: flex;

  .news-card {
    position: relative;
    padding: 3rem 0;
    border-bottom: 1px solid #e2e2e2;
  }

  .left-wrap {
    width: 30rem;
    // remove this
    border: 1px solid var(--dummy-border-color);
  }

  .right-wrap {
    flex: 1;
    padding: 0 0 0 2rem;
    // remove this
    border: 1px solid var(--dummy-border-color);
  }

  .img-wrap {
    width: 13rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    img {
      width: 100%;
    }
  }

  .content-wrap {
    width: calc(100% - 15rem);
    padding: 0 0 0 1.5rem;
  }

  .top-wrap {
    display: flex;
    margin: 0 0 1.5rem;
  }

  .date {
    font-size: 1.3rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .title {
    font-size: 1.8rem;
    line-height: 2.4rem;
    max-height: 4.8rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .desc {
    font-size: 1.4rem;
    line-height: 2rem;
    max-height: 6rem;
    margin: 0 0 1rem;
  }

  .author {
    font-weight: 700;
    font-size: 1.6rem;
  }

  .date-wrap {
    margin: 0 0 0.5rem;
  }

  .category {
    position: absolute;
    top: 0;
    right: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
  }
}
