.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid #e2e8f0;
  padding: 1rem 1rem 7rem;
  border-radius: 8px;
}

.label-container {
  display: flex;
  flex-direction: column;
  li {
    display: flex;
  }
  label {
    display: inline-flex;
    gap: 8px;
    padding: 0 0 0 1.3rem;

    &:hover {
      color: var(--accent-color);
    }
  }

  span {
    font-size: 1.4rem;
  }
}

.sort-order-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-color);

  &:hover {
    color: var(--accent-color);
  }
}

.sort-by-wrap {
  label {
    display: inline-flex;
  }
  .label-container {
    position: relative;
  }
  .filter-heading {
    margin: 0 0 1rem;
  }
}

.sort-by-text-wrap {
  height: 24px;
}

@media only screen and (max-width: 1024px) {
  .sidebar {
    padding-bottom: 1rem;
  }
}
