:root {
  --container-width: 117rem;
  --selection-bg-color: #cbd5e1;
  --selection-text-color: #000;
  --font-family: "Inter", sans-serif;
  --text-color: #171a1f;
  // rgb(23, 26, 31)
  --dummy-border-color: #d4d4d4;
}

@import "reset";
@import "fonts";
@import "app";
