:root {
  --container-width: 1170px;
  --selection-bg-color: #a1a1aa;
  --selection-text-color: #000;
  --font-family: "Inter", sans-serif;
  --text-color: #171a1f;
}

@import "reset";
@import "fonts";
@import "app";
