:root {
  --container-width: 117rem;
  --selection-bg-color: #cbd5e1;
  --selection-text-color: #000;
  --font-family: "Inter", sans-serif;
  --text-color: #171a1f;
  --cat-head-color: #f8f9fa;
  --accent-color: #5113d7;
}

@import "reset";
@import "fonts";
@import "app";
@import "error-page";
